interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://sdfproxy.sdf.slac.stanford.edu:3128/segwarides/creds/usdf_efd
  response:
    body:
      string: '{"host": "usdf-rsp.slac.stanford.edu", "username": "efdreader", "password":
        "9Wkosj2m1d+NeqaNTyPNBA==", "schema_registry": "http://sasquatch-schema-registry.sasquatch:8081",
        "port": "443", "path": "/influxdb-enterprise-data/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Basic ZWZkcmVhZGVyOjlXa29zajJtMWQrTmVxYU5UeVBOQkE9PQ==
    method: GET
    uri: https://usdf-rsp.slac.stanford.edu/influxdb-enterprise-data//ping?wait_for_leader=5s
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Influxdb-Build:
      - ENT
      X-Influxdb-Version:
      - v1.11.8
    status:
      code: 204
      message: No Content
version: 1
