interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://sdfproxy.sdf.slac.stanford.edu:3128/segwarides/creds/usdf_efd
  response:
    body:
      string: '{"host": "usdf-rsp.slac.stanford.edu", "username": "efdreader", "password":
        "9Wkosj2m1d+NeqaNTyPNBA==", "schema_registry": "http://sasquatch-schema-registry.sasquatch:8081",
        "port": "443", "path": "/influxdb-enterprise-data/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Basic ZWZkcmVhZGVyOjlXa29zajJtMWQrTmVxYU5UeVBOQkE9PQ==
    method: GET
    uri: https://usdf-rsp.slac.stanford.edu/influxdb-enterprise-data//ping?wait_for_leader=5s
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Influxdb-Build:
      - ENT
      X-Influxdb-Version:
      - v1.11.8
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Authorization:
      - Basic ZWZkcmVhZGVyOjlXa29zajJtMWQrTmVxYU5UeVBOQkE9PQ==
    method: GET
    uri: https://usdf-rsp.slac.stanford.edu/influxdb-enterprise-data//query?db=efd&q=SELECT+%2A+FROM+%22lsst.sal.Electrometer.logevent_intensity%22+WHERE+time+%3E%3D+%272024-05-29T23%3A59%3A23.000Z%27+AND+time+%3C%3D+%272024-05-30T04%3A59%3A23.000Z%27
  response:
    body:
      string: '{"results":[{"statement_id":0,"series":[{"name":"lsst.sal.Electrometer.logevent_intensity","columns":["time","intensity","private_efdStamp","private_identity","private_kafkaStamp","private_origin","private_rcvStamp","private_revCode","private_seqNum","private_sndStamp","salIndex","timestamp","unit"],"values":[["2024-05-30T04:21:11.051193Z",-1.9049e-7,1717042871.0511932,"Electrometer:201",1717042909.0527215,607482,1717042908.051297,"c414a875",13460,1717042908.0511932,201,0,""],["2024-05-30T04:21:11.104007Z",-1.5218e-7,1717042871.104007,"Electrometer:201",1717042909.060955,607482,1717042908.1040812,"c414a875",13461,1717042908.104007,201,0,""],["2024-05-30T04:21:11.130637Z",-1.5167e-7,1717042871.1306376,"Electrometer:201",1717042909.096609,607482,1717042908.1307063,"c414a875",13462,1717042908.1306376,2[...]
