interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://sdfproxy.sdf.slac.stanford.edu:3128/segwarides/creds/usdf_efd
  response:
    body:
      string: '{"host": "usdf-rsp.slac.stanford.edu", "username": "efdreader", "password":
        "9Wkosj2m1d+NeqaNTyPNBA==", "schema_registry": "http://sasquatch-schema-registry.sasquatch:8081",
        "port": "443", "path": "/influxdb-enterprise-data/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Basic ZWZkcmVhZGVyOjlXa29zajJtMWQrTmVxYU5UeVBOQkE9PQ==
    method: GET
    uri: https://usdf-rsp.slac.stanford.edu/influxdb-enterprise-data//ping?wait_for_leader=5s
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Influxdb-Build:
      - ENT
      X-Influxdb-Version:
      - v1.11.8
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Authorization:
      - Basic ZWZkcmVhZGVyOjlXa29zajJtMWQrTmVxYU5UeVBOQkE9PQ==
    method: GET
    uri: https://usdf-rsp.slac.stanford.edu/influxdb-enterprise-data//query?db=efd&q=SELECT+wavelength%2Cprivate_sndStamp+FROM+%22lsst.sal.ATMonochromator.logevent_wavelength%22+WHERE+time+%3E%3D+%272023-12-18T23%3A59%3A23.000Z%27+AND+time+%3C%3D+%272023-12-19T23%3A59%3A22.000Z%27
  response:
    body:
      string: '{"results":[{"statement_id":0,"series":[{"name":"lsst.sal.ATMonochromator.logevent_wavelength","columns":["time","wavelength","private_sndStamp"],"values":[["2023-12-19T12:58:18.580753Z",10.86359977722168,1702990735.580753],["2023-12-19T12:59:25.017939Z",0,1702990802.0179396],["2023-12-19T13:01:26.60483Z",550,1702990923.6048307],["2023-12-19T13:27:56.754161Z",0,1702992513.7541618],["2023-12-19T13:28:10.164752Z",0,1702992527.164752],["2023-12-19T13:28:21.268464Z",0,1702992538.2684643],["2023-12-19T13:28:28.881813Z",0,1702992545.881813],["2023-12-19T13:31:10.955514Z",550,1702992707.9555147],["2023-12-19T14:03:14.507727Z",500.0000915527344,1702994631[...]
- request:
    body: null
    headers:
      Authorization:
      - Basic ZWZkcmVhZGVyOjlXa29zajJtMWQrTmVxYU5UeVBOQkE9PQ==
    method: GET
    uri: https://usdf-rsp.slac.stanford.edu/influxdb-enterprise-data//query?db=efd&q=SHOW+FIELD+KEYS+FROM+%22lsst.sal.ATMonochromator.logevent_wavelength%22
  response:
    body:
      string: '{"results":[{"statement_id":0,"series":[{"name":"lsst.sal.ATMonochromator.logevent_wavelength","columns":["fieldKey","fieldType"],"values":[["private_efdStamp","float"],["private_identity","string"],["private_kafkaStamp","float"],["private_origin","integer"],["private_rcvStamp","float"],["private_revCode","string"],["private_seqNum","integer"],["private_sndStamp","float"],["timestamp","float"],["wavelength","float"]]}]}]}

        '
    headers:
      Content-Type:
      - application/json
      X-Influxdb-Build:
      - ENT
      X-Influxdb-Version:
      - v1.11.8
    status:
      code: 200
      message: OK
version: 1
