interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://sdfproxy.sdf.slac.stanford.edu:3128/segwarides/creds/usdf_efd
  response:
    body:
      string: '{"host": "usdf-rsp.slac.stanford.edu", "username": "efdreader", "password":
        "9Wkosj2m1d+NeqaNTyPNBA==", "schema_registry": "http://sasquatch-schema-registry.sasquatch:8081",
        "port": "443", "path": "/influxdb-enterprise-data/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Basic ZWZkcmVhZGVyOjlXa29zajJtMWQrTmVxYU5UeVBOQkE9PQ==
    method: GET
    uri: https://usdf-rsp.slac.stanford.edu/influxdb-enterprise-data//ping?wait_for_leader=5s
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Influxdb-Build:
      - ENT
      X-Influxdb-Version:
      - v1.11.8
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Authorization:
      - Basic ZWZkcmVhZGVyOjlXa29zajJtMWQrTmVxYU5UeVBOQkE9PQ==
    method: GET
    uri: https://usdf-rsp.slac.stanford.edu/influxdb-enterprise-data//query?db=efd&q=SELECT+%2A+FROM+%22lsst.sal.Electrometer.logevent_logMessage%22+WHERE+time+%3E%3D+%272024-07-26T16%3A29%3A23.000Z%27+AND+time+%3C%3D+%272024-07-26T16%3A44%3A23.000Z%27
  response:
    body:
      string: '{"results":[{"statement_id":0,"series":[{"name":"lsst.sal.Electrometer.logevent_logMessage","columns":["time","filePath","functionName","level","lineNumber","message","name","private_efdStamp","private_identity","private_kafkaStamp","private_origin","private_rcvStamp","private_revCode","private_seqNum","private_sndStamp","process","salIndex","timestamp","traceback"],"values":[["2024-07-26T16:37:32.677679Z","/opt/lsst/software/stack/miniconda/lib/python3.11/site-packages/lsst/ts/electrometer/csc.py","do_performZeroCalib",20,228,"Zero
        Calibration Completed","Electrometer",1722011852.6776798,"Electrometer:201",1722011889.6793993,1017314,1722011889.6778204,"09477ba5",7,1722011889.6776798,1017314,201,0,""],["2024-07-26T16:37:32.714343Z","/opt/lsst/software/stack/miniconda/lib/python3.11/site-packages/lsst/ts/electrometer/csc.py","do_setDigitalFilter",20,261,"setD[...]
- request:
    body: null
    headers:
      Authorization:
      - Basic ZWZkcmVhZGVyOjlXa29zajJtMWQrTmVxYU5UeVBOQkE9PQ==
    method: GET
    uri: https://usdf-rsp.slac.stanford.edu/influxdb-enterprise-data//query?db=efd&q=SHOW+FIELD+KEYS+FROM+%22lsst.sal.Electrometer.logevent_logMessage%22
  response:
    body:
      string: '{"results":[{"statement_id":0,"series":[{"name":"lsst.sal.Electrometer.logevent_logMessage","columns":["fieldKey","fieldType"],"values":[["ElectrometerID","integer"],["filePath","string"],["functionName","string"],["level","integer"],["lineNumber","integer"],["message","string"],["name","string"],["priority","integer"],["private_efdStamp","float"],["private_identity","string"],["private_kafkaStamp","float"],["private_origin","integer"],["private_rcvStamp","float"],["private_revCode","string"],["private_seqNum","integer"],["private_sndStamp","float"],["process","integer"],["salIndex","integer"],["timestamp","float"],["traceback","string"]]}]}]}

        '
    headers:
      Content-Type:
      - application/json
      X-Influxdb-Build:
      - ENT
      X-Influxdb-Version:
      - v1.11.8
    status:
      code: 200
      message: OK
version: 1
